
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

@await Html.PartialAsync("~/Views/LayoutPartial/_HeaderPartial.cshtml")
<body>
  <!--header-->
    @await Html.PartialAsync("~/Views/LayoutPartial/_NavbarPartial.cshtml")
  <!-- //header -->
  <!--banner-slider-->
  <!-- main-slider -->
  <!-- /main-slider -->
  <!-- //banner-slider-->
    @RenderBody()
  <!--/grids-->
  <!--//grids-->
    @await Html.PartialAsync("~/Views/LayoutPartial/_FooterPartial.cshtml")
  <!-- stats -->
  <!-- //stats -->
  <!--/-->

  <!-- //testimonials -->
    @await Html.PartialAsync("~/Views/LayoutPartial/ScriptPartial.cshtml")
  <!--/w3l-footer-29-main-->
  <!-- Template JavaScript -->
 
</body>

</html>
